.banner {
    min-height: calc(100vh - 10px);
    background: url(../../../images/16386858141_65a65879cd_b.jpg) no-repeat center center/cover;
}

.text h1{
    font-size: 100px;
}

.text h2{
    font-size: 60px;
}